.nav-list {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: inherit;
}

.nav-list li {
    letter-spacing: 3px;
    color: white;
}

#botoes a p {
    text-decoration: none;
    font-size: 9px;
    margin: 0;
    padding: 0;
}

#botoes a {
    text-decoration: none;
    text-align: center;
    float: right; 
    color: white;  
}

.container-footer {
    max-width: 1400px;
    padding: 0 4%;
    margin: auto;
}

.card-deck {
    width: 70%;
    margin: auto;
}

.row-footer {

    flex-wrap: wrap;
}

.footer-col {
    padding: 0 15px;
}

.footer-col h5 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    color: white;
}

.footer-col ul {
    list-style: none;
}
.footer-col ul li {
    margin: 10px 0;
}

.footer-col ul li a {
    text-decoration: none;
    color: white;
}

.footer-col i {
    color: white;
    size: 30px
}

#redes a {
    font-size: 25px;
    margin: 10px;
    align-items: center;
    justify-content: center;
}

#pag i {
    font-size: 24px;
    margin: 5px;
}

@media screen and (min-width: 768px) {

    .nav-list {
        margin-top: 1%;
    }

    #cont {
        margin-right: 20px;
        margin-left: 20px;
    }

    #cart {
        margin-left: 30px;
    }



    .container-footer {
        max-width: 1400px;
        padding: 0 4%;
        margin: auto;
    }

    .card-deck {
        width: 100%;
        margin: auto;
    }

    .row-footer {
        display: flex;
        flex-wrap: wrap;
    }

    .footer-col {
        width: 25%;
        padding: 0 15px;
    }

    .footer-col h5 {
        margin-top: 20px;
        margin-bottom: 20px;
        font-weight: 500;
        position: relative;
        color: white;
    }

    .footer-col ul {
        list-style: none;
    }
    .footer-col ul li {
        margin: 10px 0;
    }

    .footer-col ul li a {
        text-decoration: none;
        color: white;
    }

    .footer-col i {
        color: white;
        size: 30px
    }

    #redes a {
        font-size: 25px;
        margin: 10px;
        align-items: center;
        justify-content: center;
    }

    #pag i {
        font-size: 24px;
        margin: 5px;
    }

}